In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 79kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 59.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612242 sha256=2b592d74c9c38e646655a82c092f9f2da11f5a352cd787f83de141890591e16e
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [5]:
from pyspark.sql import SparkSession
#Điểm bắt đầu: dùng thư viện SparkSession
spark = SparkSession.builder.appName('Ops').getOrCreate()

In [8]:
#Tạo DataFrames
df = spark.read.csv('/content/stock.csv',inferSchema = True, header = True)
df.show()

+----------+---------+---------+---------+---------+---------+------+
|      Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+----------+---------+---------+---------+---------+---------+------+
|2020-01-31|    24.09|24.110001|     23.5|    23.67|23.306396| 86400|
|2020-02-03|23.809999|24.059999|    23.76|23.889999|23.523014| 59000|
|2020-02-04|24.129999|24.530001|23.889999|24.360001|23.985796| 89500|
|2020-02-05|    24.57|    24.67|    23.83|24.370001|23.995644|115700|
|2020-02-06|24.549999|    24.66|24.299999|24.549999|24.172876| 51500|
|2020-02-07|     24.4|    24.43|    23.74|    23.91|23.614851| 45500|
|2020-02-10|    23.85|24.559999|    23.85|24.530001|  24.2272| 58800|
|2020-02-11|24.559999|     24.9|    24.43|    24.73| 24.42473| 77800|
|2020-02-12|    24.77|    24.77|24.309999|    24.41|24.108679| 52000|
|2020-02-13|    24.52|    24.76|24.379999|    24.75|24.444481| 38500|
|2020-02-14|    24.82|    24.82|24.450001|24.549999|24.246952| 63700|
|2020-02-18|24.549999|    24.82|    24.41|    24.42|24.118557| 44300|
|2020-02-19|24.459999|25.459999|24.459999|     25.0|24.691397|153300|
|2020-02-20|     24.5|     25.0|    21.25|22.200001|21.925961|359700|
|2020-02-21|21.940001|    22.02|    21.33|     21.9|21.629663|182700|
|2020-02-24|21.450001|21.559999|20.370001|20.530001|20.276577|137500|
|2020-02-25|     20.5|20.700001|20.190001|20.309999| 20.05929|204500|
|2020-02-26|    20.48|    21.23|    20.32|     21.1|20.839539|186800|
|2020-02-27|    21.09|     21.5|20.639999|    20.83|20.572872|202700|
|2020-02-28|     20.5|21.190001|     20.5|    21.15|20.888922|192700|
+----------+---------+---------+---------+---------+---------+------+
only showing top 20 rows

In [9]:
#Show the columns
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [11]:
#Spark DataFrames have separate Column and Row types
type(df['High'])

pyspark.sql.column.Column

In [12]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [13]:
#The select method to select particular columns

df.select(['High','Close']).show()

+---------+---------+
|     High|    Close|
+---------+---------+
|24.110001|    23.67|
|24.059999|23.889999|
|24.530001|24.360001|
|    24.67|24.370001|
|    24.66|24.549999|
|    24.43|    23.91|
|24.559999|24.530001|
|     24.9|    24.73|
|    24.77|    24.41|
|    24.76|    24.75|
|    24.82|24.549999|
|    24.82|    24.42|
|25.459999|     25.0|
|     25.0|22.200001|
|    22.02|     21.9|
|21.559999|20.530001|
|20.700001|20.309999|
|    21.23|     21.1|
|     21.5|    20.83|
|21.190001|    21.15|
+---------+---------+
only showing top 20 rows

In [15]:
#The limit method to take first few rows
df.limit(4).show()

+----------+---------+---------+---------+---------+---------+------+
|      Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+----------+---------+---------+---------+---------+---------+------+
|2020-01-31|    24.09|24.110001|     23.5|    23.67|23.306396| 86400|
|2020-02-03|23.809999|24.059999|    23.76|23.889999|23.523014| 59000|
|2020-02-04|24.129999|24.530001|23.889999|24.360001|23.985796| 89500|
|2020-02-05|    24.57|    24.67|    23.83|24.370001|23.995644|115700|
+----------+---------+---------+---------+---------+---------+------+

In [17]:
#head() and asDict()
df.head(9)

[Row(Date='2020-01-31', Open=24.09, High=24.110001, Low=23.5, Close=23.67, Adj Close=23.306396, Volume=86400),
 Row(Date='2020-02-03', Open=23.809999, High=24.059999, Low=23.76, Close=23.889999, Adj Close=23.523014, Volume=59000),
 Row(Date='2020-02-04', Open=24.129999, High=24.530001, Low=23.889999, Close=24.360001, Adj Close=23.985796, Volume=89500),
 Row(Date='2020-02-05', Open=24.57, High=24.67, Low=23.83, Close=24.370001, Adj Close=23.995644, Volume=115700),
 Row(Date='2020-02-06', Open=24.549999, High=24.66, Low=24.299999, Close=24.549999, Adj Close=24.172876, Volume=51500),
 Row(Date='2020-02-07', Open=24.4, High=24.43, Low=23.74, Close=23.91, Adj Close=23.614851, Volume=45500),
 Row(Date='2020-02-10', Open=23.85, High=24.559999, Low=23.85, Close=24.530001, Adj Close=24.2272, Volume=58800),
 Row(Date='2020-02-11', Open=24.559999, High=24.9, Low=24.43, Close=24.73, Adj Close=24.42473, Volume=77800),
 Row(Date='2020-02-12', Open=24.77, High=24.77, Low=24.309999, Close=24.41, Adj Close=24.108679, Volume=52000)]

In [19]:
dict_ = df.head(1)[0].asDict()
dict_

{'Adj Close': 23.306396,
 'Close': 23.67,
 'Date': '2020-01-31',
 'High': 24.110001,
 'Low': 23.5,
 'Open': 24.09,
 'Volume': 86400}

In [20]:
#count method - number of rows
df.count()

252

In [21]:
df.select('Volume').distinct().show()

+------+
|Volume|
+------+
| 86400|
| 71600|
|108500|
| 62400|
| 91200|
|170800|
|100600|
| 66800|
|189400|
| 91000|
| 60100|
|178300|
|383400|
| 55600|
| 66500|
|124100|
|491200|
|100400|
|260400|
| 49500|
+------+
only showing top 20 rows

In [22]:
df.select('Volume').distinct().count()

238

In [23]:
#random sampling using the sample method
df.sample(withReplacement = False,fraction = 0.005,seed = 101).show()

+----------+---------+---------+---------+---------+---------+------+
|      Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+----------+---------+---------+---------+---------+---------+------+
|2020-03-03|    20.23|     20.4|    19.33|19.549999|19.308672|200300|
|2020-06-02|18.370001|    18.91|    18.32|    18.67| 18.53055|199600|
|2020-10-15|23.209999|     24.0|    22.98|    23.85|23.764147|110900|
|2020-11-13|27.360001|     28.1|27.219999|27.879999|27.879999| 60800|
|2020-11-17|29.299999|29.790001|    28.73|    28.92|    28.92| 57200|
+----------+---------+---------+---------+---------+---------+------+

In [25]:
#insert new column
df.withColumn('Sub',df['High']-df['Low']).limit(10).select(['High','Low','Sub']).show()

+---------+---------+-------------------+
|     High|      Low|                Sub|
+---------+---------+-------------------+
|24.110001|     23.5| 0.6100010000000005|
|24.059999|    23.76| 0.2999989999999997|
|24.530001|23.889999| 0.6400019999999991|
|    24.67|    23.83| 0.8400000000000034|
|    24.66|24.299999|0.36000100000000046|
|    24.43|    23.74| 0.6900000000000013|
|24.559999|    23.85| 0.7099989999999998|
|     24.9|    24.43|0.46999999999999886|
|    24.77|24.309999|0.46000099999999833|
|    24.76|24.379999|0.38000100000000003|
+---------+---------+-------------------+

In [26]:
#Rename
df.withColumn('Sub',df['High']-df['Low']).limit(10).select(['High','Low','Sub']).withColumnRenamed('Sub','Range').show()

+---------+---------+-------------------+
|     High|      Low|              Range|
+---------+---------+-------------------+
|24.110001|     23.5| 0.6100010000000005|
|24.059999|    23.76| 0.2999989999999997|
|24.530001|23.889999| 0.6400019999999991|
|    24.67|    23.83| 0.8400000000000034|
|    24.66|24.299999|0.36000100000000046|
|    24.43|    23.74| 0.6900000000000013|
|24.559999|    23.85| 0.7099989999999998|
|     24.9|    24.43|0.46999999999999886|
|    24.77|24.309999|0.46000099999999833|
|    24.76|24.379999|0.38000100000000003|
+---------+---------+-------------------+

In [27]:
#filter() or where()
df.filter("Close < 50").show(5)

+----------+---------+---------+---------+---------+---------+------+
|      Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+----------+---------+---------+---------+---------+---------+------+
|2020-01-31|    24.09|24.110001|     23.5|    23.67|23.306396| 86400|
|2020-02-03|23.809999|24.059999|    23.76|23.889999|23.523014| 59000|
|2020-02-04|24.129999|24.530001|23.889999|24.360001|23.985796| 89500|
|2020-02-05|    24.57|    24.67|    23.83|24.370001|23.995644|115700|
|2020-02-06|24.549999|    24.66|24.299999|24.549999|24.172876| 51500|
+----------+---------+---------+---------+---------+---------+------+
only showing top 5 rows

In [30]:
df.filter("Close < 50 AND Open > 24").select(['Date','Open','Close']).show()

+----------+---------+---------+
|      Date|     Open|    Close|
+----------+---------+---------+
|2020-01-31|    24.09|    23.67|
|2020-02-04|24.129999|24.360001|
|2020-02-05|    24.57|24.370001|
|2020-02-06|24.549999|24.549999|
|2020-02-07|     24.4|    23.91|
|2020-02-11|24.559999|    24.73|
|2020-02-12|    24.77|    24.41|
|2020-02-13|    24.52|    24.75|
|2020-02-14|    24.82|24.549999|
|2020-02-18|24.549999|    24.42|
|2020-02-19|24.459999|     25.0|
|2020-02-20|     24.5|22.200001|
|2020-10-06|24.370001|    23.58|
|2020-10-19|    24.15|    23.75|
|2020-10-22|24.139999|     24.5|
|2020-10-23|24.559999|    24.75|
|2020-10-26|    24.49|24.040001|
|2020-10-27|24.049999|    24.26|
|2020-10-28|    24.07|     25.5|
|2020-10-29|25.780001|25.700001|
+----------+---------+---------+
only showing top 20 rows

In [31]:
df.filter(df['Close']<50).show(5)

+----------+---------+---------+---------+---------+---------+------+
|      Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+----------+---------+---------+---------+---------+---------+------+
|2020-01-31|    24.09|24.110001|     23.5|    23.67|23.306396| 86400|
|2020-02-03|23.809999|24.059999|    23.76|23.889999|23.523014| 59000|
|2020-02-04|24.129999|24.530001|23.889999|24.360001|23.985796| 89500|
|2020-02-05|    24.57|    24.67|    23.83|24.370001|23.995644|115700|
|2020-02-06|24.549999|    24.66|24.299999|24.549999|24.172876| 51500|
+----------+---------+---------+---------+---------+---------+------+
only showing top 5 rows

In [32]:
df.filter((df["Close"] < 50) & (df['Open'] > 24)).select(['Date','Open','Close']).show()

+----------+---------+---------+
|      Date|     Open|    Close|
+----------+---------+---------+
|2020-01-31|    24.09|    23.67|
|2020-02-04|24.129999|24.360001|
|2020-02-05|    24.57|24.370001|
|2020-02-06|24.549999|24.549999|
|2020-02-07|     24.4|    23.91|
|2020-02-11|24.559999|    24.73|
|2020-02-12|    24.77|    24.41|
|2020-02-13|    24.52|    24.75|
|2020-02-14|    24.82|24.549999|
|2020-02-18|24.549999|    24.42|
|2020-02-19|24.459999|     25.0|
|2020-02-20|     24.5|22.200001|
|2020-10-06|24.370001|    23.58|
|2020-10-19|    24.15|    23.75|
|2020-10-22|24.139999|     24.5|
|2020-10-23|24.559999|    24.75|
|2020-10-26|    24.49|24.040001|
|2020-10-27|24.049999|    24.26|
|2020-10-28|    24.07|     25.5|
|2020-10-29|25.780001|25.700001|
+----------+---------+---------+
only showing top 20 rows

In [34]:
df.filter(df['Low']==23.5).show()

+----------+-----+---------+----+-----+---------+------+
|      Date| Open|     High| Low|Close|Adj Close|Volume|
+----------+-----+---------+----+-----+---------+------+
|2020-01-31|24.09|24.110001|23.5|23.67|23.306396| 86400|
+----------+-----+---------+----+-----+---------+------+

In [35]:
#Use the collect method instead of show, to collect the actual data
low_data = df.filter(df['Low'] == 23.5).collect()
low_data

[Row(Date='2020-01-31', Open=24.09, High=24.110001, Low=23.5, Close=23.67, Adj Close=23.306396, Volume=86400)]

In [36]:
dt = low_data[0]
dt.asDict()

{'Adj Close': 23.306396,
 'Close': 23.67,
 'Date': '2020-01-31',
 'High': 24.110001,
 'Low': 23.5,
 'Open': 24.09,
 'Volume': 86400}

In [37]:
#Sorted
df4 = df.select('High','Low').limit(10)
#Tang dan
df4.sort('High').show()

+---------+---------+
|     High|      Low|
+---------+---------+
|24.059999|    23.76|
|24.110001|     23.5|
|    24.43|    23.74|
|24.530001|23.889999|
|24.559999|    23.85|
|    24.66|24.299999|
|    24.67|    23.83|
|    24.76|24.379999|
|    24.77|24.309999|
|     24.9|    24.43|
+---------+---------+

In [38]:
#Giam dan
df4.sort('High',ascending = False).show()

+---------+---------+
|     High|      Low|
+---------+---------+
|     24.9|    24.43|
|    24.77|24.309999|
|    24.76|24.379999|
|    24.67|    23.83|
|    24.66|24.299999|
|24.559999|    23.85|
|24.530001|23.889999|
|    24.43|    23.74|
|24.110001|     23.5|
|24.059999|    23.76|
+---------+---------+

In [39]:
#Pyspark.sql.function
from pyspark.sql.functions import corr, dayofweek, month


df5=df.withColumn('Day-of-Week',dayofweek('Date')).withColumn('Month',month('Date')).select(['Day-of-Week','Month','Open','Close'])

df5.show(5)

+-----------+-----+---------+---------+
|Day-of-Week|Month|     Open|    Close|
+-----------+-----+---------+---------+
|          6|    1|    24.09|    23.67|
|          2|    2|23.809999|23.889999|
|          3|    2|24.129999|24.360001|
|          4|    2|    24.57|24.370001|
|          5|    2|24.549999|24.549999|
+-----------+-----+---------+---------+
only showing top 5 rows